[2019-12-20 05:11] Errorname opened #6 "Use default env in Prisma Schema"
Currently, there is no default env in the Prisma Schema.

Because we use env vars in the schema to handle different tenants, users of `prisma-multi-tenants` cannot call `prisma2 dev` directly without setting the env vars first.

Once default env support comes to Prisma2 (prisma/prisma2#812), we will be able to simplify this process

[2019-12-20 05:13] Errorname opened #7 "Export/Import data from/to a tenant"
Since we handle multiple tenants, we may want to export/import data from/to a tenant.

(Example use case: Export data from prod, and import it in dev to reproduce a bug)

We are currently waiting on prisma/prisma2#889 to implement this feature in prisma-multi-tenant

[2019-12-20 05:18] Errorname opened #8 "Allow tenants from multiple providers"
Currently, Prisma does not have a cross-database PrismaClient (Seehttps://github.com/prisma/prisma/issues/1487).

This means that once we set a provider for the first tenant, all other tenants will have to use the same provider.

There is two ways to handle this issue:
1. Wait for Prisma to have a cross-database Photon (not sure if/when this will happen)
2. Use `prisma-multi-tenant` to add a datas

[2019-12-20 17:08] Errorname opened #10 "Meta: version 2.0.0"
This issue will reference all the work that needs to be done for the release of the 2.0.0 version:

**Documentation:**
- [x] Contributing guide
- [x] Example: Basic JS
- [x] Example: Basic TS
- [ ] Example: Nexus
- [ ] Better explains that PMT is a wrapper of Prisma

**Quality:**
- [x] Tests (CLI)
- [x] Tests (Library)
- [x] Reduce overall size of the library (From 134 kB at alpha7 to 78.8 kB at a

[2019-12-25 03:46] denisp107 opened #11 "prisma-multi-tenant init throw error"
I got below error when I run `prisma-multi-tenant init`

error: Environment variable not found: PMT_URL.
  -->  schema.prisma:5
   |
 4 |   provider = "mysql"
 5 |   url      = env("PMT_URL")

[2019-12-26 11:15] Errorname commented on #11
Hi! Can you run "prisma-multi-tenant init --verbose" on your project and show the full logs ? Thanks 🙏

[2019-12-26 16:44] denisp107 commented on #11
Can you please make an example project for multi-tanent? Backend(typescript) and frontend(react) preferred

[2019-12-26 17:47] #11 closed

[2019-12-26 18:06] denisp107 opened #12 "Update prisma-multi-tenant new command"
Please update the command `prisma-multi-tenant new`
Currently we are building slack like app.
So, we're finding the solution for creating tenant by calling the rest api on the frontend side.

We are going to run the `prisma-multi-tenant new` command using `const { exec } = require('child_process');`
But we are not able to input tenant name and database url which is asked by `prisma-multi-tenant ne

[2019-12-26 18:12] Errorname commented on #12
Hi, there is already a solution to provide the name and url of the tenant:
[code]

To learn more about the options, you can run `prisma-multi-tenant new --help` 🙂

---

Note: Instead of running prisma-multi-tenant new with `exec`, maybe I can provide a management interface that would look something like that:

[code]

Would this solution be good for you ?

[2019-12-26 18:16] denisp107 commented on #12
[code]

This solution works for me.
btw, `prisma-multi-tenant new --name=the_name --url=postgresql://...` still ask `Are you sure of your inputs?`, so I can't use it

[2019-12-26 18:17] Errorname commented on #12
Oh indeed, I'll fix this bug

[2019-12-26 18:57] denisp107 commented on #12
Can you add me to your slack?

[2019-12-26 18:58] Errorname commented on #12
I don't have a personal Slack, but we can use Prisma's Slack (https://prisma.slack.com). My username is Errorname

[2019-12-26 19:01] denisp107 commented on #12
what is your skype?

[2019-12-26 19:02] Errorname commented on #12
I don't have skype either, twitter ?

[2019-12-27 19:08] Errorname commented on #12
The latest alpha version (2.0.0-alpha10) now allows you to create and delete tenants (See [documentation](https://github.com/Errorname/prisma-multi-tenant/blob/master/docs/Complete_Documentation.md#createtenanttenant--name-string-provider-string-url-string--options-any-promisephoton))

Here is a code example:
[code]

[2019-12-27 19:09] Errorname commented on #12
The latest version also fixes the `prisma-multi-tenant new --name=abc --url=something` bug, so I'll close this issue

[2019-12-27 19:09] #12 closed

[2020-01-02 20:37] denisp107 opened #13 "prisma-multi-tenant dev <name>"
If we have 10 tenants, should we run this command 10 times on the server?
If we have unlimited tenants similar slack?

[2020-01-02 21:03] Errorname commented on #13
The `prisma-multi-tenant dev <name>` command is a wrapper of the `prisma2 dev` command.

The `prisma2 dev` command is only to be used while in development. When you are satisfied with the state of your schema, you will have to save the migration (`prisma-multi-tenant env <name> -- prisma2 lift save` for now, but soon `prisma-multi-tenant lift save`)

Once you have the migration saved, you only hav

[2020-01-03 22:41] #13 closed

[2020-01-03 23:04] Errorname opened #14 ""Cannot find module '@prisma/photon'" on zeit-now"
On Zeit-Now, using prisma-multi-tenant will throw this error

[2020-01-03 23:04] Errorname commented on #14
Current workaround/solution:
Directly provide the Photons to MultiTenant
[code]

[2020-01-03 23:04] #14 closed

[2020-01-08 14:28] BjoernRave opened #15 "Introduce command to create management DB"
When bringing my already initialized repo to another database, I need to do `prisma-multi-tenant lift management up -- --create-db` first, so the management db gets automatically created and initialized.

It would be nice to have a command for this, maybe along the lines of:
`prisma-multi-tenant new management`

I think it's maybe also a good idea to make it more present to the user, that `managem

[2020-01-08 14:31] BjoernRave opened #16 "Improve Error-handling"
It would be good if errors coming from prisma, while used by prisma-multi-tenant would be "passed through" to the users.

Also adding the `debug` parameter when instantiating Prisma-multi-tenant like it is done with prisma would be cool, for easier debugging:

`const multitenant = new MultiTenant<Photon>({ Photon, PhotonManagement, debug: true })`

[2020-01-22 23:39] darkolacen opened #17 "Update required"
Prisma 2 updated its commands. So this package is currently not usable.
Error it throws:

[code]

[2020-01-22 23:45] Errorname commented on #17
Hi! Thank you for using prisma-multi-tenant 🙏
This error is thrown because the last Prisma Preview (preview20 released yesterday) changed the name of the generator. Unfortunately, I am unavailable until sunday. But I'll try to update as soon as possible 😊 (Probably around mid-week next week)

[2020-01-28 12:55] #17 closed

[2020-01-28 12:59] Errorname commented on #17
Hi there!
I just published `prisma-multi-tenant@2.0.0-alpha17` that is compatible with the new `prisma2@2.0.0-preview020.3` version 🙂
Dont hesitate to ping me here if there is still issues on this version!

[2020-02-08 13:19] BjoernRave opened #20 "Implement a method to check if a tenant exists"
Currently when I want to check if a tenant already exists I need to wrap the `.get` function in a trycatch block, because it will throw, when it can't find a tenant.

It would be nice to have a cleaner way to check if a tenant already exists

[2020-02-08 14:27] Errorname commented on #20
`prisma-multi-tenant@2.0.0-alpha19` now implements an `.existsTenant(name: string): Promise<Boolean>` method to check if a tenant exists in the management

[2020-02-08 14:27] #20 closed

[2020-02-19 09:51] Errorname commented on #6
Since prisma now reads from the .env file, we can put the default env in it (See prisma/prisma-client-js#454)

[2020-02-19 09:51] #6 closed

[2020-02-20 03:59] SameerChorge94 opened #21 "Prisma2 Multi-Tenant datamodel migration issue for postgres database."
**Description:**

I've been trying the Prisma2 multi-tenant with postgres database, But after changing the datamodel
 and executing ***`prisma-multi-tenant migrate up`*** command it shows ***`✅  Successfuly migrated up all tenants`*** but datamodel changes are not getting migrated on postgres database.

Similar response for ***`prisma-multi-tenant migrate db up -- --auto-approve`*** and ***`prisma

[2020-02-20 09:27] Errorname commented on #21
Thank you for the issue 🙏

After removing fields, do you re-save the datamodel ? (You can use `prisma-multi-tenant env db -- prisma2 migrate save`, I'll soon make the `prisma-multi-tenant migrate save` command 🙂)

[2020-02-20 10:06] SameerChorge94 commented on #21
Yes,

After adding/Removing fields in datamodel first i tried **`prisma2 migrate up`** command it was not working,
So i also tried **`prisma-multi-tenant migrate db up -- --auto-approve`** and **`prisma-multi-tenant env db -- prisma2 migrate save --experimental`** commands but it was returning error.

[2020-02-20 10:16] Errorname commented on #21
What is the error returned by `prisma-multi-tenant env db -- prisma2 migrate save --experimental` ?

[2020-02-20 11:01] SameerChorge94 commented on #21
its returning this below error
[code]

For detailed log for above error i executed **`prisma-multi-tenant env db --verbose -- prisma2 migrate save --experimental`** Command.
It returns the below result
[code]

[2020-02-20 12:21] Errorname commented on #21
This errors says that it cannot find prisma2. Can your run the following commands and tell me if they throw errors ?
[code]

[2020-02-20 12:26] SameerChorge94 commented on #21
For **`prisma2 --help`** command it returns help content

[code]

But for this command **`prisma-multi-tenant env db -- prisma2 --help`** it throws below error

[code]

[2020-02-20 12:33] Errorname commented on #21
Okay, so you correctly have prisma2 installed, yet prisma-multi-tenant cannot seem to find it

Can you run the following commands and show the results ?
[code]

[2020-02-20 18:13] Xaedblade opened #22 "Space in path name throws error on generation"
This is an issue for windows computers. I've run into this several times. my fix was to change my project folder name on my home pc. But my work laptop uses my name as the user with a space... so can't fix. i.e C:\Users\firstname lastname\ will throw an error because of the space in the path.

error message:
Are you sure of your inputs? Yes

Updating your schema.prisma file...

Generating prisma c

[2020-02-20 19:56] Xaedblade opened #23 "prisma-multi-tenant init returns ERROR: local and remote migrations are not in lockstep"
No matter what I do I keep getting this error

Steps to reproduce the issue:

1. First setup single tenant i.e. normal prisma2 datamodel by using prisma2 init command
2. Provide the mandatory details like datasource url (postgres database url) and execute prisma2 migrate save --name "migration-name" --experimental and prisma2 migrate up --experimental commands respectively ( It will deploy changes

[2020-02-20 22:36] Errorname commented on #23
Thanks for raising this issue 🙏

It looks like you are using the same url between your tenant, and the management prompted when running `prisma-multi-tenant init`

[2020-02-20 22:37] Errorname commented on #22
Thanks for raising this issue 🙏

I can reproduce this, I'll fix this in the next release

[2020-02-21 03:10] Xaedblade commented on #22
Thank you! That would be great 🥇

[2020-02-21 03:11] Xaedblade commented on #23
Thank you, I will give this a try.

[2020-02-21 03:43] SameerChorge94 commented on #21
All the three commands returns the below error :

**`prisma-multi-tenant env db -- pwd`**

[code]

Running: **`prisma-multi-tenant env db -- npm -g bin`**

[code]

**`prisma-multi-tenant env db -- ls $(npm -g bin)`**

[code]

[2020-02-21 14:43] Xaedblade commented on #23
That did the trick! thanks

[2020-02-21 14:43] #23 closed

[2020-02-21 17:03] Errorname commented on #21
Ah, this probably comes from the fact that you are using Windows, I'll try to reproduce and fix this on my Windows computer

[2020-02-23 03:21] Xaedblade commented on #22
@Errorname I can fix this if you like? I know where the issue is.

[2020-02-23 10:04] Errorname commented on #22
Thank for offering, but I already wrote a fix. 🙂 I'm finishing the documentation for the new release and I'll publish it by the end of the day or tomorrow

[2020-02-23 19:57] Errorname commented on #22
The latest release [alpha22](https://github.com/Errorname/prisma-multi-tenant/releases/tag/2.0.0-alpha22) should now work with folder having spaces.

Thanks again for filing this issue 🙏

[2020-02-23 19:57] #22 closed

[2020-02-23 20:00] Errorname commented on #21
Hi! The latest release [Alpha22](https://github.com/Errorname/prisma-multi-tenant/releases/tag/2.0.0-alpha22) should fix the issues you had on windows.

After you put in place your `.env` file to be compatible with prisma2@preview022 and prisma-multi-tenant@alpha22 (see [here](https://github.com/Errorname/prisma-multi-tenant/releases/tag/2.0.0-alpha22)), you will be able to run `prisma2 migrate sa

[2020-02-23 20:00] #21 closed

[2020-02-25 05:23] SameerChorge94 commented on #21
Hi!
With latest release i'm able to use **`prisma2 migrate save`** command for migration, But this command **`prisma-multi-tenant migrate up`** returns
[code]
As changes suggested [here](https://github.com/Errorname/prisma-multi-tenant/releases/tag/2.0.0-alpha22)
I updated the datamodel and moved **datasource management** details (i.e. provider and url ) from schema.prisma to .env files variables.

[2020-02-25 05:39] Errorname commented on #21
It looks like you still have the alpha21 installed globally. Run `npm i -g prisma-multi-tenant@2.0.0-alpha22` to get the latest version

[2020-02-25 07:03] SameerChorge94 commented on #21
After installing prisma-multi-tenant updated version globally it works.

Thank you,

[2020-02-26 02:14] Xaedblade commented on #22
Thanks!

[2020-02-26 18:27] Errorname commented on #15
Thanks for the issue 🙏

This command has been implemented and shipped in Alpha22.1

[2020-02-26 18:27] #15 closed

[2020-02-26 18:27] Errorname commented on #16
Thanks for the issue 🙏

This has been implemented and shipped in Alpha22.1

[2020-02-26 18:27] #16 closed

[2020-03-26 09:50] BjoernRave opened #28 "Lambad Function times out on Zeit Now after 10 seconds on Free Tier"
I am using the library on Zeit Now on the free tier. The maximum execution duration for a lambda on the free tier is 10 seconds.

When creating a new tenant programmatically the lambda times out, because it seems to take more than 10 seconds to create a new database and migrate it up.

When inspecting the database I can find all tables, but the migrations table is empty.

The new tenant seems usab

[2020-03-31 03:01] Xaedblade opened #30 ".env file missing in prisma folder... should be local folder"
I am getting the below error when installing the new alpha25 version. It looks like it desires the .env file to be in a prisma folder, but my folder is called tenant. As I have a folder for multitenant use and a folder for shared database.

Unknown Error!
Error: Couldn't find the prisma/.env file
    at /Users/username/Development/project/backend/src/prisma/tenant/node_modules/prisma-multi-tenant/

[2020-03-31 07:44] Errorname commented on #30
Thanks for raising this issue 🙏

Can you share you folder structure? Where does your `schema.prisma` & `.env` files are located?

[2020-03-31 15:28] Xaedblade commented on #30
so the folder structure is as below:
prisma
|-shared
|-tenants
   |- schema.prisma
   |- .env

so the tenants folder is where I use multi tenant prisma as this is a shared structure. and the shared folder is for users and system settings

[2020-03-31 15:35] Xaedblade commented on #30
so the folder structure is as below:

src->prisma->tenants-> the .env file and schema.prisma file are here

so the tenants folder is where I use multi tenant prisma as this is a shared structure. and the shared folder is for users and system settings

[2020-03-31 15:37] Errorname commented on #30
I see. Do you have different schema.prisma files between `tenants/` and `shared/` ?

[2020-03-31 16:16] Xaedblade commented on #30
yes, I only have the tenants folder using the multi tenant prisma. the other is just vanilla prisma

[2020-03-31 16:18] Errorname commented on #30
Okay, how is your schema.prisma different between those two folders ?

[2020-03-31 16:20] Xaedblade commented on #30
the Tenants have tenant data which is needed to create the individual databases for each tenant
the Shared is for site specific data that is shared across all tenants

[2020-03-31 16:21] Xaedblade commented on #30
so I want the tenants to be the only prisma multi tenant. I feel that it should just reside there. It worked on the older versions, but not with the new one

[2020-03-31 16:27] Errorname commented on #30
Ah okay, I see. So because you have a different architecture, the current installation command isn't working. The current installation command tries to edit the `prisma/.env` file to add the required env variables.

I'll try to fix that, but in the meantime, you can adapt your code and slightly modify your folder structure:
[code]

This way, `prisma-multi-tenant` should be able to find the `.env`

[2020-03-31 16:29] Xaedblade commented on #30
Ok I'll give this a try thanks!

[2020-04-01 01:46] Xaedblade commented on #30
No I'm still getting the same error

[2020-04-01 07:26] Errorname commented on #30
From which directory do you run the cli ?

[2020-04-02 00:20] Xaedblade commented on #30
I've run the cli from tenants and tenants->prisma.
it still trying to pull from the base directory

[2020-04-02 07:32] Errorname commented on #30
Unfortunately, I cannot reproduce. Can you create a small reproduction repository so that I can take a look?

[2020-04-03 03:21] Xaedblade commented on #30
you can view an example here: https://github.com/Xaedblade/prisma-multi-tenant-example

[2020-04-07 20:02] fabiofdsantos opened #31 "Support sharded multi-tenant database model"
First of all, thanks for this amazing work!

Since this project is using "database per tenant" as tenancy model, are you considering to support the shared multi-tenant model in the future?

More details:
https://github.com/microsoft/WingtipTicketsSaaS-MultiTenantDB#sharded-multi-tenant-saas-pattern

[2020-04-10 21:16] fabiofdsantos opened #33 "init error: Datasource provider not known"
[code]

[2020-04-11 08:58] Errorname commented on #33
Thank you for raising this issue 🙏 I am able to replicate it. I'll fix this ASAP

[2020-04-11 09:16] Errorname commented on #31
Hi, thank you for the compliment 🙂

The initial purpose of this project is to be a wrapper of Prisma to handle the multi-tenant design pattern. I like the fact that `prisma-multi-tenant` does not touch your schema, nor your databases, but only act as a "router" to find your data based on the tenant. You could even "eject" of `prisma-multi-tenant` simply by uninstalling the package.

For what I und

[2020-04-11 10:23] Errorname commented on #30
Hi @Xaedblade, I finally found some time to work on `prisma-multi-tenant` to fix some bugs. However, your reproduction repository does not seem to be accessible anymore. Can you make it available ?

[2020-04-11 12:37] fabiofdsantos commented on #31
I agree with you that It will lead to more complexity and currently I'm not looking for that solution but maybe a "nice to have" in the future since the pattern has some advantages.

However database-per-tenant model will be the best approach for most applications. Anyway, it's preferable to wait for a stable Prisma 2 and then think about it. In the mean time, we can leave this issue open..

[2020-04-11 13:06] Errorname commented on #33
This should now be fixed with `prisma-multi-tenant@2.0.0-beta.2`. Do you confirm?

[2020-04-11 14:54] fabiofdsantos commented on #33
The issue no longer occurs but it stucks in this step: `Creating first tenant from your initial schema...`

[code]

[2020-04-11 15:08] Errorname commented on #33
This is probably due to a new version of the migrate engine. Can you delete your management database and re-run the init command ?

[2020-04-11 21:42] fabiofdsantos commented on #33
Ohh right.. I think it was related with the missing version `2.0.0-beta.2` of `@prisma/client`.

it's working now. Thanks!

[2020-04-11 21:42] #33 closed

[2020-04-13 18:17] Xaedblade commented on #30
Sorry it is active again for you

[2020-04-17 22:09] meherpanguluri opened #34 "Prisma multi tenant does not create new schemas"
Hi,
This is my .env in prisma

DATABASE_URL="postgresql://postgres:postgres@localhost:32769/tenant?schema=public"
MANAGEMENT_PROVIDER=postgresql
MANAGEMENT_URL=postgresql://postgres:postgres@localhost:32769/management

I have created two databases for management and tenants. I dont see any schemas created in the tenant database  for new tenants. Not sure from the documentation if we need to create

[2020-04-17 22:15] Errorname commented on #34
Hi @meherpanguluri ! Did you follow the [Getting Started](https://github.com/Errorname/prisma-multi-tenant/blob/master/docs/Getting_Started.md) guide? It should explain how to make it work.

In a few words:
- With prisma-multi-tenant you'll have one database per tenant
- Your schema.prisma will be used for each of these tenants.
- You can create a new tenant by running: `prisma-multi-tenant add`

[2020-04-17 22:26] meherpanguluri commented on #34
Yes I have followed the getting started guide
I have used `prisma-multi-tenant new` to create a new tenant.
I see tenant getting created on the management db but I dont see schema on tenant db.

Thanks

[2020-04-17 22:28] Errorname commented on #34
Was there an error in the console when creating the new tenant? If not, can you make a small reproduction repository so that I can replicate the issue?

[2020-04-17 22:45] meherpanguluri commented on #34
There is no error when creating a tenant.

? Name of the tenant: tenant2
? Database provider: postgresql
? Database url: postgresql://postgres:postgres@localhost:32769/postgres

{ name: 'tenant2',
  provider: 'postgresql',
  url: 'postgresql://postgres:postgres@localhost:32769/postgres' }

? Are you sure of your inputs? Yes

✅  Registered the new tenant into management and migrated up the database

[2020-04-18 16:15] Errorname commented on #34
Can you try running `prisma-multi-tenant new --verbose` to have more informations on what the command did?

[2020-04-18 19:52] meherpanguluri commented on #34
prisma-multi-tenant new --verbose

  Warning: Prisma does not yet allow for multi-provider clients, so you must use the same provider used in your schema.prisma file.

? Name of the tenant: tenant1
? Database provider: postgresql
? Database url: postgresql://postgres:postgres@localhost:32769/postgres

{ name: 'tenant1',
  provider: 'postgresql',
  url: 'postgresql://postgres:postgres@localhost:327

[2020-04-18 19:58] meherpanguluri commented on #34
I see that the tenants are created in the management > tenant table.

[2020-04-21 15:11] Errorname commented on #30
Hi @Xaedblade, I think I found why it isn't working:

In order for `prisma-multi-tenant@2.0.0-beta.2` to work, you need to have a `prisma/` folder with both a `schema.prisma` file and a `.env` file in it. (So for you, you'll need to move `src/prisma/tenant/schema.prisma` to `src/prisma/tenant/prisma/schema.prisma` and create a  `src/prisma/tenant/prisma/.env` file)

Also, make sure you have the co

[2020-04-21 16:38] Errorname commented on #34
Hi @meherpanguluri ! I just released 2.0.0-beta.3. It may fix your issues. If not, can you create a github repository with a reproductible example of the issue ? Otherwise, I'm not able to reproduce and fix it

[2020-05-12 07:26] Dragons0458 opened #35 "prisma-multi-tenant init, freezes"
Hello! When I try to run the ```prisma-multi-tenant init``` command the generation freezes when it tries to create the management database, would you know why this happens? Thank you!

![imagen](https://user-images.githubusercontent.com/3160847/81650466-cc71e980-93e6-11ea-89fd-bc22686e2940.png)

[2020-05-25 11:58] Errorname commented on #30
Since there have been no activity on this issue for a while, I'll close it. Don't hesitate to re-open it if  needed

[2020-05-25 11:58] #30 closed

[2020-05-25 11:59] Errorname commented on #34
Since there hasn't been activity on this issue for a while, I'll close it. Don't hesitate to reopen it if needed

[2020-05-25 11:59] #34 closed

[2020-05-25 14:39] Errorname commented on #35
Hi @Dragons0458 ! Did you try running `npx @prisma/cli` generate to see if there was an error ?

[2020-05-25 22:20] Dragons0458 commented on #35
Hello! i tried linux, added the path like: file:./man.db and it worked correctly: D

[2020-05-26 04:08] Xaedblade opened #36 "Error: Cannot find module '@prisma/prisma-multi-tenant/management'"
I cannot initialize the prisma multi-tenant with the latest version. both init and new commands throw this error.
I am using the beta.4

Error: Cannot find module '@prisma/prisma-multi-tenant/management'

I followed the get started step by step. no issues pre beta

[2020-05-26 07:34] Errorname commented on #36
Hi @Xaedblade, what versions of prisma-multi-tenant are you using, both globally and locally ?
Globally:
[code]
Locally: (open package.json)

[2020-05-26 07:34] Errorname commented on #35
Ah great! Indeed, it looks in the picture that there was missing a "file:" in the database url :)
I'm closing this issue then

[2020-05-26 07:34] #35 closed

[2020-05-26 11:11] BjoernRave commented on #36
@Xaedblade pmt moved its location in node_modules in beta 4. It should work if you import like this: `import { PrismaClient as PrismaClientManagement } from '.prisma-multi-tenant/management'`

[2020-05-26 12:40] Xaedblade commented on #36
@Errorname  I've used the beta.3 version and beta.4 version.
@BjoernRave I've not gotten to the point of importing to the project yet, just trying to setup the initial tenant

[2020-05-26 12:43] Errorname commented on #36
@Xaedblade Can you try the following steps ?
[code]

[2020-05-26 13:42] Xaedblade commented on #36
Error: Cannot find module '.prisma-multi-tenant/management'.

also, I notice that an index.js page opens up that is based in the @prisma->cli->build

[2020-05-26 13:44] Errorname commented on #36
Can you provide the full logs of the `prisma-multi-tenant init --verbose` command ?

[2020-05-26 13:47] Xaedblade commented on #36
` Generating prisma clients for both management and tenants...
  $> "C:\Users\user\Desktop\development\comp\proj\node_modules\@prisma\cli\build\index.js" generate

  $> "C:\Users\user\Desktop\development\comp\proj\node_modules\@prisma\cli\build\index.js" generate

  Setting up management database...
  $> "C:\Users\user\Desktop\development\comp\proj\node_modules\@prisma\cli\build\index.js" migrate

[2020-05-26 13:51] Errorname commented on #36
Can you try installing the latest release (beta.6): `npm i -g prisma-multi-tenant` ?

[2020-05-26 14:09] Xaedblade commented on #36
yes I was using the beta6

[2020-05-26 14:11] Errorname commented on #36
What happens if you run `prisma-multi-tenant generate` ?

[2020-05-26 14:19] Xaedblade commented on #36
`$ prisma-multi-tenant generate --verbose

  Generating Prisma Clients for both management and tenants...
  $> "C:\Users\user\Desktop\development\comp\proj\node_modules\@prisma\cli\build\index.js" generate

  $> "C:\Users\user\Desktop\development\comp\proj\node_modules\@prisma\cli\build\index.js" generate

✅  Prisma Clients have been generated!

`

[2020-05-26 14:20] Errorname commented on #36
Is there a `.prisma-multi-tenant/management` folder in the `node_modules` ?

[2020-05-26 14:42] Xaedblade commented on #36
no, there is a "prisma-multi-tenant" folder but not a ".prisma-mulit-tenant"

[2020-06-23 13:32] Errorname commented on #10
Prisma-multi-tenant@2.0.0 is out 🥳

[2020-06-23 13:32] #10 closed

[2020-07-08 04:24] Xaedblade opened #37 "Databases not being created, multi-tenant not getting the correct tenant"
I've installed as per the instructions and have given the correct tenant but it still pulls data from the original tenant and not the specified one.  Am I missing something?
It does add the new tenant to the manager but never adds a new database and does not switch but just pulls from the original database

[2020-07-08 04:38] Xaedblade commented on #37
found that I needed to run prisma-multi-tenant migrate up

[2020-07-08 04:58] #36 closed

[2020-07-08 05:42] Xaedblade commented on #37
Ok, I've found the issue, I needed to use the env file for creating the db connection string.

[2020-07-08 05:42] #37 closed

[2020-07-15 09:55] Errorname commented on #8
Good news! Prisma@2.2.0 was released with support for dynamic datasources providers, which means I can finally make this feature!

I expect to be able to have the feature implemented in prisma-multi-tenant in around a week from now.

[2020-07-17 12:47] Errorname opened #38 "Split prisma-multi-tenant into multiple packages"
Currently, prisma-multi-tenant is a single package composed of the CLI and the lib. Side effect of this, is that by adding prisma-multi-tenant into your project, many unnecessary sub-dependencies would be bundled too. (chalk, inquirer, etc..)

Here is the proposed new packages:

- `@prisma-multi-tenant/shared` is the package that contains some code shared between prisma-multi-tenant related packag

[2020-07-17 12:49] Errorname commented on #8
This feature has been implemented with the [release of prisma-multi-tenant@2.1.0](https://github.com/Errorname/prisma-multi-tenant/releases/tag/2.1.0) 🥳

[2020-07-17 12:49] #8 closed

[2020-07-17 12:58] Errorname opened #39 "Delete database when running `pmt delete <name>`"
Currently, when running `prisma-multi-tenant delete name_of_tenant`, it only migrates down the db and print a warning for the user to delete the database.

Once https://github.com/prisma/migrate/issues/350 is implemented, pmt will be able to delete the tenant as well.

[2020-07-18 22:13] Errorname commented on #38
Done! Will be live with @2.2.0

[2020-07-18 22:13] #38 closed

[2020-07-20 17:05] Errorname opened #40 "Add the "a single DB for all tenants" model of multi-tenancy"
Currently, Prisma-multi-tenant uses the "one DB per tenant" model of multi-tenancy. However, we could also add the possibility to use the "a single DB for all tenants" model of multi-tenancy.

Here is how it would work:

1. `pmt init`
    - Asks which mode to use
    - If SingleDB, add a "Tenant { id String @id }" model, add "tenantId: String @default('dev')" on all models
    - Migrate DB, then c

[2020-07-20 17:17] Errorname commented on #31
Hey @fabiofdsantos, good news! 🥳

Prisma now has a [Middleware](https://github.com/prisma/prisma-client-js/issues/770) feature, that would allow for the `sharded multi-tenancy` model to be feasible!

However, I'll first need to implement the "one DB for all tenants" model (see [issue](https://github.com/Errorname/prisma-multi-tenant/issues/40)). Then, I'll be able to make a mix of those two and ma

[2020-07-20 17:36] fabiofdsantos commented on #31
Great news! I no longer use Prisma but I expect to come back in a few months

[2020-07-22 01:14] Dragons0458 commented on #36
I have the same problem in Windows :( is there any way to fix it? thanks a lot!

[2020-07-22 01:17] Dragons0458 commented on #36
I have the same problem in Windows :( is there any way to fix it? thanks a lot!

[code]

[code]

[2020-07-22 01:25] Dragons0458 commented on #36
I have the same problem in Windows :( is there any way to fix it? thanks a lot!

[code]

[code]

[code]

[code]

[2020-07-22 07:36] Errorname commented on #36
Hi @Dragons0458 👋

After generating the Prisma Clients, does the `prisma-multi-tenant new` command work ?

[2020-07-22 07:40] Dragons0458 commented on #36
No, it gives me the same error :(

[2020-07-22 07:43] Errorname commented on #36
Did you run `prisma-multi-tenant init` on your project ? After running `prisma-multi-tenant generate`, is there a `.prisma-multi-tenant/management` folder in your node_modules ?

[2020-07-22 07:54] Dragons0458 commented on #36
That folder is not generated, I execute the init command and then the generate command and inside node_module there is nothing: c

[2020-07-22 08:09] Errorname commented on #36
I just tried on a Windows machine, and I can reproduce! I will investigate and come back with a fix 🙂

[2020-07-22 10:00] Dragons0458 commented on #36
Thank you so much @Errorname ! successes!

[2020-07-22 10:22] Errorname commented on #36
The issue should be fixed with the `prisma-multi-tenant@2.2.0-dev.6` release !

Since there is a lot of changes coming with the 2.2.0 release, I advise you to remove pmt from your project and globally, re-install it globally, and then running `prisma-multi-tenant init`:

[code]

Let me know if it works for you 🙂

[2020-07-23 01:32] Dragons0458 commented on #36
Hello @Errorname ! sorry for the delay, this is the output I get:

[code]

This is my package.json:
[code]

And this is my .env file:
[code]

Thank you very much for the help! :D

[2020-07-23 07:50] Errorname commented on #36
It looks like Prisma doesn't like something in your datasource in your schema.prisma file. Can you paste it here ?

[2020-07-23 08:19] Dragons0458 commented on #36
Sure!

[code]

[2020-07-23 08:21] Errorname commented on #36
Hmm, what happens when you do this command ?
[code]

[2020-07-23 08:25] Dragons0458 commented on #36
This is the output:

[code]

And my folder projects files:
![imagen](https://user-images.githubusercontent.com/3160847/88266055-6544a100-cc83-11ea-8278-4142ae1d3467.png)

[2020-07-23 14:12] Errorname commented on #36
I was able to reproduce again, and indeed Windows does some weird stuff sometimes ^^

I released `prisma-multi-tenant@2.2.0-dev.7`, can you try installing it and retry?

[2020-07-23 21:46] Dragons0458 commented on #36
Many times windows is quite an adventure, I hope Windows leaves wsl2 well soon :'v

Sorry errorName, I had this error, I cleared node_modules, did uninstall on global and local and reinstalled again. Itself I left it blank and I get this:

[code]

[2020-07-23 21:48] Dragons0458 commented on #36
Many times windows is quite an adventure, I hope Windows leaves wsl2 well soon :'v

Sorry @Errorname , I had this error, I cleared node_modules, did uninstall on global and local and reinstalled again. Itself I left it blank and I get this:

[code]

[2020-07-23 22:41] Errorname commented on #36
Ah sorry, I made a typo while fixing the bug, this should now be fixed with `prisma-multi-tenant@2.2.0-dev.8` 🤞

[2020-07-23 23:52] Dragons0458 commented on #36
I already tried it and it works very well in Windows! thank you very much @Errorname ! :D You have done a great job with this package, congratulations!

[2020-07-24 14:44] gcherem opened #41 "Serverless database"
Hi! Can I use prisma-multi-tenant with a serverless database? (aurora for instance)

[2020-07-24 14:47] Errorname commented on #41
Hi @gcherem 👋

Unfortunately, I don't think it would work: Prisma-multi-tenant is kind of a "wrapper" of Prisma. And, as it can be seen on [this issue](https://github.com/prisma/prisma/issues/1964), Prisma doesn't work at the moment with Aurora

[2020-07-24 18:39] gcherem opened #42 "create tenant programatically"
Is that possible to create a tenant programatically, inside a mutation? I'd like to have a TENANTS table in a separated instance, with support to CRUD tenants. Thanks!

[2020-07-24 20:07] Errorname commented on #42
Yes, you can create the tenants programmatically !

Here is how prisma-multi-tenant (pmt) works:
- pmt initialize your project by creating a "management" database which holds the tenants name & url
- pmt installs a "client" (@prisma-multi-tenant/client) in your project
- This client can be used to [query the Prisma instances](https://github.com/Errorname/prisma-multi-tenant/blob/master/docs/Comple

[2020-07-24 20:08] #41 closed

[2020-07-24 20:27] gcherem commented on #42
Thanks! 👍

[2020-07-25 09:48] #42 closed

[2020-08-04 14:15] m-leon opened #43 "Best Practices for Docker Deployment"
Great work on this project so far I'm excited to use it.

I'm attempting to create a Dockerfile for my service and have a few questions.

Is it okay to have the Dockerfile use a new sqlite db for management while generating the prisma clients and use a Postgres db when running the created image?

Is it possible to initialize PMT without the side effect of having the multi-tenancy-example.js create

[2020-08-07 10:18] Errorname commented on #43
Thank you for your interest in prisma-multi-tenant!

(Note: I don't have a lot of knowledge about Docker, so I may be wrong)

I don't think you are going to run into an issue with your way of generating, since the generated prisma client for management is configured with the 3 providers (`providers = ["mysql", "sqlite", "postgresql"]`).
If there was an issue, I guess you could re-generate the clie

[2020-08-14 08:35] 364734461 opened #47 "Allow --schema parameter on tenant generate"
Now I want to pass through `prisma generate --schema="***"` to implement custom directories. (schema.prisma)

But....code....
[code]
You can open the parameters？

like this
[code]
....

[2020-08-14 09:22] Errorname commented on #47
Hi, thank you for raising this issue!

This would indeed be better to allow to pass --schema when generating tenants. I'll try to work on this feature request, and implement it for the next release of prisma-multi-tenant (probably this week end)

[2020-08-14 19:16] Errorname opened #48 "Migrate to Lerna or alternative to manage packages"
Prisma-multi-tenant is currently using custom scripts to handle boostraping and publishing. It works, but it involves overhead and adds complexity to maintain, as well as complexity to onboard new contributors.

Moving to Lerna or an alternative could help make the processes easier

[2020-08-16 08:47] kongyujian opened #49 "Error occurred during query execution: ConnectorError(ConnectorError"
It seems to me like the `pgbouncer=true` option is not being respected, any idea why this is the case?

![image](https://user-images.githubusercontent.com/872604/90330524-defc5000-dfdf-11ea-9523-58db09804297.png)

Not sure if anybody else is facing the same.

[2020-08-16 08:48] Errorname commented on #49
Is the option on the management db url or on a tenant's ?

[2020-08-16 10:01] kongyujian commented on #49
I have enabled that option for both management and tenant URLs.

Have checked the URL stored within DB too, and those maintain the `pgbouncer=true` option too.

[2020-08-16 10:02] Errorname commented on #49
In that case, I'm not sure the issue comes from Prisma-multi-tenant, because it passes the URL as is.

Can you try using a PrismaClient instead and see if you replicate the issue?

[2020-08-16 10:07] kongyujian commented on #49
Ok my bad, I recall largely the reason why I wanted to update prisma from 2.2.0 to 2.4.1 was because of this issue on Prisma

[https://github.com/prisma/prisma/issues/2921](https://github.com/prisma/prisma/issues/2921)

I think `pmt` on 2.4.1 should fix this

[2020-08-16 10:08] Errorname commented on #49
Alright, I am finishing some work on pmt and will make a release soon (this evening probably)

[2020-08-16 15:11] Errorname commented on #47
The `--schema` has been implemented and released in prisma-multi-tenant@**2.3.1**

[2020-08-16 15:11] #47 closed

[2020-08-16 15:12] Errorname commented on #49
I just release pmt@**2.3.1** which includes your PR updating Prisma. Don't hesitate to re-open with you still have an issue!

[2020-08-16 15:12] #49 closed

[2020-08-16 15:12] #43 closed

[2020-08-17 03:12] 364734461 commented on #47
runLocal Error:
![image](https://user-images.githubusercontent.com/16712324/90353854-06076000-e07a-11ea-9955-a543e9000f75.png)
![image](https://user-images.githubusercontent.com/16712324/90353875-1a4b5d00-e07a-11ea-917b-9e305965b30d.png)

Lead to

![image](https://user-images.githubusercontent.com/16712324/90353948-5383cd00-e07a-11ea-89be-c8cd01f4bbda.png)

[2020-08-17 07:38] Errorname commented on #47
What command where you running ? Does @prisma-multi-tenant/shared is present in your node_modules ? (It should be a dependency of @prisma-multi-tenant/client)

[2020-08-17 07:58] 364734461 commented on #47
RUN `npm run gen`....... package.json scripts => `npx prisma-multi-tenant generate --schema=\"./prisma/one.prisma\"`

[code]

There are ‘< project >/node_modules/@prisma-multi-tenant/shared ’

[2020-08-17 08:01] Errorname commented on #47
Can you try removing "npx" in the npm script ?

[2020-08-17 08:07] 364734461 commented on #47
Error again！

[2020-08-17 08:08] Errorname commented on #47
Unfortunately, I am not able to reproduce. Can you make a small reproduction repository so that I can take a look?

[2020-08-17 08:25] 364734461 commented on #47
I seem to have found the problem, which can occur if you install dependencies using PNPM in your project.

[code]

[code]

[2020-08-17 08:59] 364734461 commented on #47
I think the problem may be related to the `pnpm install`.
I've adjusted the dependencies, and that's OK.

But you might want to look at why is the `pnpm` problematic.

https://github.com/364734461/pmt-test

RUN examples/prisma-cli-404 -> npm run generate -> will `Error: Cannot find @prisma/cli`

RUN examples/pmt ->  npm run generate -> will ```Error: Command failed: node "/Users/xxx/pmt-test/examp

[2020-08-17 09:12] Errorname commented on #47
Great to hear it's working for you.

Yes, it looks like pnpm is doing something that prisma-multi-tenant isn't built to handle. I'll probably look at how Prisma [handled this](https://github.com/prisma/prisma/blob/c36c1a7a84a5be3fd12522870a2f48cabdb6b833/src/packages/client/src/generation/generateClient.ts)

[2020-08-17 09:14] Errorname opened #50 "Handle pnpm"
Using pnpm to install dependencies makes PMT not being able to find dependencies.

See https://github.com/Errorname/prisma-multi-tenant/issues/47#issuecomment-674755079

Possible solution: Use code from Prisma: https://github.com/prisma/prisma/blob/c36c1a7a84a5be3fd12522870a2f48cabdb6b833/src/packages/client/src/generation/generateClient.ts

[2020-08-21 01:21] asaadawey opened #51 "Stuck at Setting up development database"
Hello
This my first time using pmt

here is my log exactly

[code]
import { PrismaClient } from '@prisma/client'
// or const { PrismaClient } = require('@prisma/client')

const prisma = new PrismaClient()
[code]

It's stuck at   Setting up management database...

[2020-08-21 01:33] asaadawey commented on #51
solved by adding
qutations at the start

In future release i suggest to auto import this or to warn users about it and thank you for the great work

[2020-08-21 01:33] #51 closed

[2020-08-21 01:52] asaadawey opened #52 "Error while initating `pmt init`"
Hello , this my first time to use pmt and i cant initaite a pmt

i think there is a typo because the application trying to read from PMT_MANAGMENT_URL
while the created one is MANAGMENT_URL

[code]

[2020-08-22 15:42] zaref69 opened #53 "initaite a pmt"
i think there is a typo because the application trying to read from PMT_MANAGMENT_URL
while the created one is MANAGMENT_URL
im on a mac

 Installing `@prisma-multi-tenant/client` as a dependency in your app...
  $> npm install @prisma-multi-tenant/client@2.3.1
npm WARN @nexus/schema@0.15.0 requires a peer of graphql@^14.5.0 but none is installed. You must install peer dependencies yourself.
npm W

[2020-08-24 23:51] gcherem opened #54 "Nest.js support"
Can I use prisma-multi-tenant on nest.js? If so, is there an example?

[2020-09-01 16:16] thuringia opened #55 "Special deployment considerations needed?"
Thank you for creating a plugin for blitz-js, this makes my current project much easier!

What I did not understand from the docs, or the PRs, is how an application deployment with `prisma-multi-tenant` works.
For example, the docs for blitz feature Vercel and Render, however Render only gives you one ["database"](https://render.com/docs/databases) (which looks like the result of `CREATE DATABASE`

[2020-09-11 01:46] 364734461 opened #59 "Should we upgrade Prisma to the latest edition"
Should we upgrade Prisma to the latest edition

[2020-09-11 10:33] asaadawey commented on #59
i think no , i am a newly commer to pmt . i cannot initiate it and i think this because my prisma version

[2020-09-11 11:56] Errorname commented on #52
Hi 👋
Thank you for reporting this issue and sorry for taking this long to answer 🙏

It looks like you used quotes (`"`) when providing the url of the management, can you try without them ?

[2020-09-11 11:57] Errorname commented on #53
Hi 👋
Thank you for reporting this issue and sorry for taking this long to answer 🙏

It looks like you used quotes (`"`) when providing the management url, can you retry without them?

[2020-09-11 12:02] Errorname commented on #54
Hi 👋

To be honest, I did not know Nest.js until this issue. After taking a look at the documentation (and more specifically the [page about prisma](https://docs.nestjs.com/recipes/prisma#use-prisma-client-in-your-nestjs-services)), it would indeed be a good idea to have documentation on how to integrate prisma-multi-tenant.

I'll try to find some time to do that in the next couple weeks

[2020-09-11 12:10] asaadawey commented on #52
@Errorname

No any problems sir
Also when trying to initate without qutoes is stucking at "Setting up managment database"

Here is the log

[code]
import { PrismaClient } from '@prisma/client'
// or const { PrismaClient } = require('@prisma/client')

const prisma = new PrismaClient()
[code]

[2020-09-11 12:12] Errorname commented on #55
Hi @thuringia 👋

Thanks for the question. The current architecture of prisma-multi-tenant is indeed based on the "one tenant = one database" model, as well as another database for the "management" of your tenants. This means that you would indeed need to have multiple databases. (I don't know Render, but it does look like you can only have one database indeed)

However, as you pointed out, once #4

[2020-09-11 12:12] #55 closed

[2020-09-11 12:14] Errorname opened #60 "Remove quotes from url"
Some users (see #52 and #53) use quotes when providing urls. Instead of having a weird error, pmt should handle this case and remove them before continuing.

[2020-09-11 12:19] Errorname commented on #52
Great for the quotes 👍

You are providing the following url: `postgresql://postgres:123456@localhost:5432/postgres2?schema=public`. Are you using a different schema for the management database?

Prisma-multi-tenant currently uses the "one tenant = one database" model, which also requires another database for the management. (However, once #40 is implemented, you will be able to use the "one databa

[2020-09-11 12:22] Errorname commented on #59
Hi @364734461 👋

Upgrading to a newer Prisma version should theoretically work (@asaadawey issue looks to be something else). I intend to make a new release of prisma-multi-tenant soon to integrate newer versions of Prisma anyways.

[2020-09-11 12:25] asaadawey commented on #52
i haven't even initiated the pmt . i currently using one schema at postgres2 db

here is a photo

![e2](https://user-images.githubusercontent.com/58343742/92925201-3066f600-f44b-11ea-895c-76ab1d6eb119.png)

here is the .env file

[code]

i have also tried now to remove the space from the directory
but no chance . still stuck at Setting up managment Database

[2020-09-11 12:26] Errorname commented on #52
You need to provide a different schema for the management.

Example:
[code]

[2020-09-11 12:34] asaadawey commented on #52
Still same

cloned the public schema to managment schema as shown :-
![rt](https://user-images.githubusercontent.com/58343742/92926095-9011d100-f44c-11ea-9938-6bf10f7aeadf.png)

Log

[code]

[2020-09-11 12:37] Errorname commented on #52
You need an empty schema for the management. Prisma-multi-tenant will handle the schema itself using Prisma to create a table to handle your tenants. (Maybe I need to improve the documentation to better explain this)

[2020-09-11 12:40] asaadawey commented on #52
Yesss

This solves the issue . one last question . how i can add tables in the managment schema ?

[2020-09-11 12:42] Errorname commented on #52
Awesome! 😄

Prisma-multi-tenant currently "hides" the management prisma schema, so you would need to manually add tables in the management database.

What would be your use case for this ?

[2020-09-11 12:50] asaadawey commented on #52
@Errorname
Thank you for your support really appreciated

I will tell you my questions regarding pmt and hopefully i can get answers

i have a multi tenant application with prisma

i need to use this tool to implement the multi-tenancy logic

Now i have initiated a pmt via pmt init
What is the purpose of the managment database ?
Is this schema will be synchronised with the other tenants ?

for exa

[2020-09-11 12:57] Errorname commented on #52
Alright, so here is how Prisma-multi-tenant works:

You have a management database (here the "management" postgresql schema). This management db is solely handled by Prisma-multi-tenant. It will only contain the references (name + url) to all of your tenants.

You will also have other databases (=postgresql schema): one for each of your tenant.

To create a new tenant, you simple have to call the

[2020-09-11 13:06] asaadawey commented on #52
Yes this clarify it

Thank you so much
this issue can be closed now

[2020-09-11 13:08] #52 closed

[2020-09-11 13:09] Errorname commented on #53
This issue looks to be a duplicate of #52 . Don't hesitate to reopen if it doesn't work for you

[2020-09-11 13:09] #53 closed

[2020-09-12 23:06] BjoernRave commented on #48
this could be interesting for the monorepo: https://github.com/formium/tsdx/pull/778

[2020-10-05 11:12] asaadawey opened #63 "error with @nexus/schema and apollo"
i can't get prisma multi tenant to work with @nexus/schema

the `@nexus/schema` came with prisma/cli out of the box
But the prisma-multi-tenant requires prisma/cli and here is the issue

When @prisma/cli installed as dependancy . i got the following error

[code]

When i remove @prisma/cli i got the following error in runtime

`        "message": "Context creation failed: \n\u001b[31mInvalid \u001

[2020-10-05 12:35] asaadawey commented on #63
I think here is the main problem

[code]

[2020-10-12 18:13] hmiiro commented on #54
I love nestjs and I have been using it in my project(SaaS ecommerce)....I integrated prisma...will be the most happiest being if showed how to use this.

[2020-10-12 18:30] hmiiro commented on #54
Nestjs uses express under the hood

[2020-10-18 06:49] jimsimon opened #65 "zero-length delimited identifier at or near """
Hello!

I'm running into an issue actually using the tenant client. I've successfully set up the management database, added a tenant, and verified that I can connect to that tenant directly via the normal PrismaClient. However when I try to use MultiTenant, I get the following error:
[code]

Here's my test code:
[code]

I'm using the latest version of Prisma (2.9.0) and working with Postgres datab

[2020-10-18 07:02] jimsimon commented on #65
I believe I found the problem...

I added a `console.log(process.env.MANAGEMENT_URL)` and it appears the `=dev` part of the url is being lost. This only seems to be a problem for the management environment variable. Since I'm using the default schema, I'm able to workaround this issue by removing the entire `?schema=public` part.

[2020-10-18 07:09] jimsimon commented on #65
After doing some more research, I suspect this might be related to being unable to use quotes for the management url (#60). It might also be related to how the url is being read or parsed somewhere in the code.

[2020-10-18 07:15] jimsimon opened #66 "Better support for Postgres Schemas"
This is similar to #40 but would be tailored to Postgres specifically. The idea would be to leverage `SET schema` or `SET search_path` inside of a PrismaClient middleware. The tenant model would need a `schema` property, and ideally this would support creating/using a different user per schema for improved data isolation and security.

Right now we can use Postgres schemas via different connection

[2020-10-18 11:55] dlehmhus commented on #63
@asaadawey i had the same problem. A dirty fix for me was removing the `@prisma` folder from `@nexus/schema` node_modules folder before generating the nexus prisma schema.

[2020-10-19 20:54] jimsimon opened #67 "Allow tenant connection strings to be aliased"
The current approach requires storing usernames and passwords for the database connection strings in plain text which isn't great for security. A better approach might be to use an alias and environment variables for retrieving the connection strings.

Tenant Table:
<table>
<tr><th>Name</th><th>Alias</th></tr>
<tr><td>Small Cool Tenant</td><td>db1</td></tr>
<tr><td>Small Awesome Tenant</td><td>db1

[2020-10-20 05:30] jimsimon commented on #66
Nevermind, I don't believe this is possible with the current middleware support. I've opened prisma/prisma#3968. Hopefully they'll support it or provide an alternative workaround.

[2020-10-22 13:26] Pranit-Harekar commented on #63
I have the same error. Here's my package.json

[code]

[2020-10-22 13:34] Pranit-Harekar commented on #63
I fixed it by removing `?schema=public` from the end of pg database URL that you specify in .env file

[2020-10-29 10:28] solinad21 opened #69 "Cannot find module 'find-up'"
i can not run ok prisma-multi-tenant,

after installing it when run prisma-multi-tenant init, i get errors:

`prisma-multi-tenant init
internal/modules/cjs/loader.js:834
  throw err;
  ^

Error: Cannot find module 'find-up'
Require stack:
- C:\Users\apolo13\AppData\Roaming\npm\node_modules\prisma-multi-tenant\node_modules\@prisma-multi-tenant\shared\build\shell.js
- C:\Users\apolo13\AppData\Roamin

[2020-10-30 11:42] BjoernRave commented on #69
yea, I got the same error

[2020-10-30 11:46] BjoernRave opened #70 "pmt generate requires globally installed version of prisma-multi-tenant"
When running `pmt generate` without having `prisma-multi-tenant` installed globally via npm, the `.prisma-multi-tenant` folder does not get generated.

It would be nice if it could detect a version of `prisma-multi-tenant` installed as dev dependency and use that.

This is causing problems when trying to build inside github actions for example

[2020-10-30 21:10] solinad21 commented on #59
agree with this message, i can not run your component in windows 10 environment.

[2020-11-01 15:51] BjoernRave commented on #40
this is my WIP take on how to solve this:
[code]

Every model in the db has a `tenantId` field, which sadly has to be marked optional, since the prisma calls dont know a middleware is injecting the tenantId

[2020-11-01 16:50] jaaneh opened #72 "pmt init leads to error"
Hey there!

I'm trying to set up pmt so I am able to access two databases in the same app through prisma.

After installing prisma-multi-tenant, running `pmt init` and giving it the management db url, it hits an `Cannot read property 'plural' of undefined` at the _Creating example script..._ step.

![](https://jaany.xyz/i/lgg68.png)

I am also getting this warning when going through init `Warning:

[2020-11-01 18:09] Errorname commented on #59
Hi everyone! I just released the 2.4.1 version which includes prisma@2.10.1, thanks for your patience

[2020-11-01 18:09] #59 closed

[2020-11-01 18:09] Errorname commented on #60
This has been fixed with the release of prisma@2.4.1

[2020-11-01 18:09] #60 closed

[2020-11-01 18:11] Errorname commented on #63
Hi everyone! This was probably related to this issue: #60 that has been fixed with the release of 2.4.1. If you still encounter this issue, please don't hesitate to reopen. Thanks for your patience 🙏

[2020-11-01 18:11] #63 closed

[2020-11-01 18:12] Errorname commented on #65
Hi @jimsimon! Thanks for reporting the issue. 🙏  It may indeed come from #60 which has been resolved with the release of prisma-multi-tenant 2.4.1. Don't hesitate to reopen if you still encounter the issue after upgrading!

[2020-11-01 18:12] #65 closed

[2020-11-01 18:13] Errorname commented on #66
Hi @jimsimon! This sounds indeed like a good idea, but I don't think it's possible with the current capabilities of Prisma at the moment. I'll close this issue for now, but don't hesitate to reopen, or create a new one, if it becomes possible in the future.

[2020-11-01 18:13] #66 closed

[2020-11-01 18:14] Errorname commented on #67
That's a good idea! Feel free to make a PR to add this feature in pmt

[2020-11-01 18:15] Errorname commented on #69
Hi everyone! This bug has been fixed with the release of pmt@2.4.1. Thanks for your patience 🙏

[2020-11-01 18:15] #69 closed

[2020-11-01 18:17] Errorname commented on #70
I think this issue has been resolved with the release of pmt @ 2.4.1. If you or someone else stil experiences this issue, don't hesitate to reopen this issue 🙏

[2020-11-01 18:17] #70 closed

[2020-11-01 18:18] Errorname commented on #72
Hi @jaaneh ! Thanks for the issue 🙏  There was indeed a bug following a change in Prisma. This should now have been resolved with the release of prisma-multi-tenant@2.4.1. Don't hesitate to reopen the issue if you still experience the issue

[2020-11-01 18:18] #72 closed

[2020-11-01 18:28] jaaneh commented on #72
Hey, thanks!

The current 2.4.1 leads to this, do you happen to know what could be the reason? ![](https://jaany.xyz/i/76590.png)

[2020-11-01 19:22] jaaneh commented on #72
@Errorname Hey! I'm stuck at a EISDIR read error after upgrading to 2.4.1. Any ideas?

![](https://camo.githubusercontent.com/ed90cb86be0d399054f3f61dc3a6ddefa45933db/68747470733a2f2f6a61616e792e78797a2f692f37363539302e706e67)

[2020-11-01 19:26] Errorname commented on #72
Ah! Yes, it's an issue with Windows and directories with a space in them. I'll fix this and release a new version

[2020-11-01 19:29] jaaneh commented on #72
Appreciate it! I've stumbled across so many errors due to having 2 first names.

[2020-11-01 19:35] Errorname commented on #72
It should now be fixed with pmt@2.4.2

[2020-11-01 19:40] jaaneh commented on #72
We have a `multi-tenancy-example.js` file! Appreciate the help :-)

[2020-11-02 03:06] asaadawey opened #73 "ERROR: zero-length delimited identifier at or near """""
I have downloaded the latest pmt version V2.4.2

i have initated pmt , added a tenant . and added the
`prisma = await multiTenant.get('test')`

inside the context (btw i use nexus , nexus-plugin-prisma , apollo)

here is the full error
Invalid `prisma.tenant.findOne()` invocation:

[code]

Here is my full scenario

[code]
import { PrismaClient } from '@prisma/client'
// or const { PrismaClient } =

[2020-11-02 04:44] asaadawey commented on #73
fixed by deleting ?schema from managment url

[2020-11-04 21:12] m-leon commented on #67
Adding on to this, I think it would be beneficial to allow us to resolve the URL with a function. This would allow us to create our own adapters to the URLs.

Environment variables could be resolved with this:
`(alias) => process.env[alias]`

[2020-11-04 21:20] Errorname commented on #67
The issue with resolving URL with a function is that other commands of pmt (e.g: migrate, studio,...) would not work.

However, if you only want the pmt client, you could use the `.directGet` method instead of `.get`. (See [documentation](https://github.com/Errorname/prisma-multi-tenant/blob/master/docs/Complete_Documentation.md#directgettenant--name-string-url-string--options-any-promiseprismacli

[2020-11-23 16:21] camsloanftc commented on #40
I don't have much to add here, except that it would be awesome to have this.

I think a lot of SaaS db's are following a single-db multi-tenant pattern, especially in the early days.

For me it makes no sense to spin up a db for each new customer when I am testing the waters with a blitz app to see if there is a viable market.

This could make this plug-in much more accessible to a wide array of b

[2020-11-25 16:01] asaadawey opened #74 "Comptability issues with latest prisma 2.12.0"
Updating prisma to v2.12 and nexus leads me to this error

[code]

[2020-12-03 14:23] mvhysko commented on #74
Hi @asaadawey . I have the same error. Did you manage to find a solution?

[2020-12-03 16:58] asaadawey commented on #74
@mvhysko
Yes
I have edited the node_modules folder temporarily
I removed the method that verifies prisma client constructor

[2021-02-04 22:29] 0xtelmo opened #77 "The current command "up" doesn't exist in the new version of Prisma Migrate."
Hi there, I'm having some issues running `pmt init`.

The error is the following:

[code]

I'm using `pmt@2.4.2`, `node@12.19.0` and `prisma@2.16.0`.

The `MANAGEMENT_URL` I'm setting is `postgres://postgres@localhost:5432/management?schema=management`.

Thanks ✌️

[2021-02-08 20:42] andrealmei commented on #77
Same error here!

[2021-02-10 18:08] solinad21 commented on #77
i have the same mistake, help please

[2021-02-12 00:28] SuFacturaWEB commented on #77
Same error

[2021-02-12 20:13] solinad21 commented on #77
I think this happens because for some reason "pmt init" installs prism components always of the latest version (2.16.x)

How can I control the version of the prisma components to install?

[2021-02-16 03:39] jimsimon commented on #74
Any chance this can be merged in and released?

[2021-02-20 13:09] 0xtelmo commented on #77
No updates on this @Errorname? Appreciate it.

[2021-02-21 13:03] mbnoimi commented on #54
+1

[2021-02-22 18:50] solinad21 commented on #77
here waiting too

[2021-03-11 20:10] retailify commented on #77
As you can see the `migrate up` is no more available in the prisma client. I've tested it with the following versions.

[code]
After that I've set environment variables and started the migration.
[code]
Same error if I try to run `prisma migrate deploy`.

I think it's going to be a breaking change.

[2021-03-22 19:16] Intelligix commented on #74
Any chance this can be merged in and released?

[2021-03-22 19:36] mvhysko commented on #74
@jimsimon @Intelligix Sorry guys. This PR is not valid. Current version of this lib should be adapted to the new Prisma version. I do not have a time to do it.

[2021-03-30 09:10] tlindener opened #78 "@prisma/cli ist deprecated pmt init fails"
The init process fails because @prisma/cli is marked as deprecated. The install routine should install "prisma" instead.

[2021-04-26 22:58] totaland commented on #78
Agree, could you please fix this?

[2021-04-26 23:08] totaland commented on #74
Is that just mean changing the version in package.json to be using the new Prisma right?
@mvhysko I can do that and make the pull request

[2021-04-27 03:45] totaland commented on #78
@tlindener could you help with fixing the test for this PR please bro?
https://github.com/Errorname/prisma-multi-tenant/pull/79

[2021-04-27 03:45] totaland commented on #74
@mvhysko https://github.com/Errorname/prisma-multi-tenant/pull/79
Could you help with fixing the test for this PR please champ?

[2021-05-02 00:46] Cmacu commented on #78
This project looks like it was abandoned. No updates in 6 months and init not working.
There are 2 PRs without status update.
@Errorname can you advice on best course of action?

[2021-05-19 06:38] Zyles commented on #54
Also looking for multi tenant support for NestJS. Hoping to migrate away from TypeORM and currently looking at alternatives.

[2021-05-21 09:58] tlindener commented on #78
Sorry guys didn't get a message. I'll check if this works.

[2021-06-29 07:21] Alwigi opened #80 "Cannot install prisma-multi-tenant, appears to have conflict with prisma/cli"
I have prisma + prisma/client v2.25.0 installed and all is working fine against a Sql Server database.
When installing prisma-multi-tenant using:

    npm i -g prisma-multi-tenant

I get this in the terminal:

    @prisma/cli@2.20.1 preinstall C:\Users\zzzzzzz\npm\node_modules\prisma-multi-
   tenant\node_modules\@prisma\cli

    node scripts/preinstall-entry.js

    │     The package @prisma/cli

[2021-08-02 20:45] avishwakarma commented on #80
Any updates on this?

[2021-08-12 23:46] davad opened #81 "Unable to install prisma-multi-tenant"
I'm getting this error when I run `yarn add -D prisma-multi-tenant`:

[code]

https://github.com/Errorname/prisma-multi-tenant/blob/16f7bff72566ea4fa08acf3b7d7a7299237c6530/packages/shared/package.json#L27

[2021-09-08 21:24] agschnitzer commented on #81
I'm getting the same error. Any updates?

[2021-09-11 16:57] solinad21 commented on #81
Any updates?

[2021-10-01 13:00] cerpinn commented on #54
+1 Would love to see this

[2021-10-12 17:23] guyeatspants commented on #81
Downgrade

[2021-11-01 06:29] Jarrodsz opened #84 "Dead repo?"
No more updates in a year..

Anyone can provide an alternative repo or lets discuss what other prisma multi tennant solutions are out there.

[2021-12-14 20:30] mariocrist opened #86 "Error: @prisma/cli@2.20.1 preinstall"
deprecated @prisma/cli@2.20.1: Prisma CLI package was renamed to 'prisma'. Check it out here: https://www.npmjs.com/package/prisma

[2022-01-18 16:26] milesje commented on #86
I'm also unable to install.... getting the follow error(s)

[code]

[2022-02-03 09:21] ameerulislam commented on #86
same problem here. Is this repo dead?

[2022-05-11 20:54] Dhalias commented on #40
Hey guys ! Any news about single DB for all tenants being supported by Prisma ? As stated, for SaaS entrepreneur this would be a massive plus for Prisma.

[2022-05-27 02:32] #84 closed, assigned to nobody

[2022-08-07 09:41] DarkPhoenix2704 commented on #54
Is anyone working on this?

[2022-08-07 14:45] hmiiro commented on #54
I guess everyone is waiting ne inclusive, u got some know-how?

[2022-08-25 03:31] alitoshmatov opened #102 "Alternative for this tool"
So it looks like this package is not in use. But I really need something that could do the same in prisma v3 with better support. I am struggling to manage migrations in multi-tenant app with prisma. Can you suggest any good package for this purpose?

[2022-10-04 13:51] jmarbutt commented on #40
@BjoernRave I was curious if the WIP example you provided here is still the best option or have you made progress in other areas?

[2022-10-13 22:01] Jarrodsz commented on #102
would like to know the same.
Citrus for postgres is there but not compatible with prisma ( yet ) every search on this subject ends in a death end.

[2022-10-13 22:03] Jarrodsz commented on #40
To much commercial potential that this is not openly shared?
every search in this topic leads to a death end.

I assume so hardcore team members would be able to cook an example up since they know the inner workings of prisma exactly?

Perhaps Citrus for postgresql and prisma integration is the best bet?

[2022-11-18 10:58] abhishekbhardwaj commented on #102
I have an alternative which we've been using in production for a while now. Will dust it off and publish this weekend. :)

[2022-11-20 01:21] Jarrodsz commented on #102
Thank you really interested to see how the problem could be solved.